.feature-container {
  border-radius: 12px;
  padding: 1rem;
  background: #ffffffc0;
  min-height: 8rem;
  width: min(80vw, 600px);
  text-align: start;
  backdrop-filter: blur(8px);
  color: var(--ifm-color-emphasis-800);
  border: 1px solid var(--ifm-color-emphasis-300);
}


[data-theme="dark"] .feature-container {
  background: #004634c0;
  border: 1px solid var(--ifm-color-primary-darker);
  box-shadow: unset;
}

.feature-title {
  text-align: start;
  color: var(--ifm-color-primary-dark);
  font-size: var(--ifm-h3-font-size);
}

[data-theme="dark"] .feature-title {
  color: var(--ifm-color-white);
}

.feature-list {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  row-gap: 1rem;
  column-gap: 1rem;
  width: 100%;
}

@media screen and (min-width: 996px) {
  .feature-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
  }

  .feature-container {
    width: min(45vw, 600px)
  }
}